ul#bar{
	float:left;
	position:relative;
	left:100px;
	list-style-type:none;}
#bar li{
	width:100px;
	word-spacing:10px;
	line-height:4;}

#bar li a{
	display:block;
	text-align:center;}
	
#header a:link,#bar a:visited{
	color:#313131;}