#header a:link,#nav a:visited{
	color:#313131;}
	
#nav {
	display: block;
	margin: 0;
	width: inherit;
	padding-left:0 85px;
	list-style-type: none;
	text-align:center;
}
ul#nav li:hover {
	color:#C71A1D;}



ul#nav  li ul li.submenu {
	display:none;
	border-top:1px solid #d6d2c9;
	font-size:15px;
	line-height:2;
	text-align:center;
}
		
ul#nav  li ul li.submenu a:hover {
	color:#da8a8e;
}
ul#nav  li ul li.submenu a:visited,ul#nav  li ul li.submenu a:link {
	color:#817f79;}
#nav li ul {
	padding-left:0px;}

ul#nav li {
    width:130px;
	letter-spacing:5px;
	line-height:4;
	font-size:18px;
	text-align:center;
}
   
table{
	width:100%;
	margin:0;
	}
	
tbody{
	width:100%;
	margin:0;
	padding:0;}

th{
	font-size:18px;
	letter-spacing:10px;
	padding-top:10px;}
	
td{
	font-size:12px;
	color:#fff;
	padding:15px 25px;
}

tr{
	height:20px;}
	
.chead{
	font-size:18px;
	letter-spacing:5px;
	text-align:center;
	color:#161616}#nav {
	display: block;
	margin: 0;
	width: inherit;
	padding-left: 85px;
	padding-right: 85px;
	list-style-type: none;
}
ul#nav li:hover {
	color:#C71A1D;
}
ul#nav  li ul li.submenu {
	display:none;
	border-top-color:#d6d2c9;
	border-top-style:solid;
	text-align:center;
	font-size:15px;
}
ul#nav  li ul li.submenu a:hover {
	color:#da8a8e;
}
ul#nav  li ul li.last_submenu {
	display:none;
	border-top-color:#d6d2c9;
	border-top-style:solid;
	text-align:center;
	font-size:15px;
	border-bottom-color:#d6d2c9;
	border-bottom-style:solid;
}
#nav li ul {
	padding-left:0px;
}
ul#nav li {
    width:130px;
	letter-spacing:5px;
	line-height:4;
	font-size:18px;	
	text-align:center;
	}