/*****基础样式********/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
	text-decoration:none;
	font-family:微软雅黑;
	list-style-type:none;
}
body{
	background:#f0ece2 url(../images/background.png) no-repeat;
	background-position:0px 0px;}
	
.content{
	height:600px;
	float:left;}
#container{
	width:1220px;
	margin:auto;
	height:600px;
	}

#container-bottom{
	width:1220px;
	margin:auto;
	height:90px;
	}
#header{
	width:300px;}
	

/******三栏******/
#sidebar1{
	width:380px;
	margin-right:30px;
		}

#sidebar2{
	width:225px;
	margin-right:30px;
	font-family:微软雅黑bold;
		}
		
#sidebar3{
	width:225px;
	margin-right:30px;
		}

		
/* footer  */
#footer{
	clear:both;
	background:url(../images/footer.gif) repeat-x;
	}
#footer1{
	clear:both;
	width:100%;
	height:53px;
	
	font-size:12px;
	float:left;}
#footer1 ul{
	position:relative;
	left:100px;
	float:left;}		
#footer1 li{
	float:left;
	}
	
#footer1-1 a:link,#footer1-1 a:visited{
	color:#7e7e7e;
	display:block;
	padding:18px;
	padding-top:4px;
	margin-top:17px;
	height:0px;
	border-right:1px solid #7e7e7e;}
	
#footer1-1{
	width:710px;
	height:53px;
	float:left;}

#footer2{
	clear:both;
	width:100%;
	height:34px;
	float:left;
	text-align:center;}
	
	
#footer1-2{
	width:225px;
	height:53px;
	float:left;
	margin-right:30px;
	margin-top:15px;}

#footer1-2 span{
	margin-left:20px;
	margin-right:2px;}

#footer1-2 a:link,#footer1-2 a:visited{
	color:#7e7e7e;}
/***search***/
#footer1-3{
	width:225px;
	height:53px;
	float:left;
	margin-top:10px;}	

.search{
	background:url("../images/search.gif") no-repeat;
	height:30px;
	margin-top:3px;}
	
.search input{
	border:none;
	background:none;
	float:left;
	outline:medium;}/**去除发光框***/
	
.search-box{
	height:25px;
	margin-left:7px;
	width:133px;}
	
.search-button{
	width:25px;
	height:25px;
	cursor:pointer;
	color:transparent;}	
/***中间几个新闻图片****/
#sidenews2{
	width:225px;
	height:345px;
	}
	
#sidenews3{
	width:225px;
	height:255px;}
	

#course{
	margin:0px 25px;}
	
/*****color of link***/
.hnews a:link,.hnews a:visited,.notice a:link,.notice a:visited,#chead a:link,#chead a:visited{
	color:#fff;}

	

