#nav {
	display: block;
	margin: 0;
	width: inherit;
	padding-left: 85px;
	padding-right: 85px;
	list-style-type: none;
}
ul#nav li:hover {
	color:#C71A1D;
}
ul#nav  li ul li.submenu {
	display:none;
	border-top-color:#d6d2c9;
	border-top-style:solid;
	text-align:center;
	font-size:15px;
}
ul#nav  li ul li.submenu a:hover {
	color:#da8a8e;
}
ul#nav  li ul li.last_submenu {
	display:none;
	border-top-color:#d6d2c9;
	border-top-style:solid;
	text-align:center;
	font-size:15px;
	border-bottom-color:#d6d2c9;
	border-bottom-style:solid;
}
#nav li ul {
	padding-left:0px;
}
ul#nav li {
    width:130px;
	letter-spacing:5px;
	line-height:4;
	font-size:18px;
	font-weight:bold; 	
	text-align:center;
}
   