#nav {
	display: block;
	width: 130px;
	padding:0px;
	list-style-type: none;
	height:432px;
	margin:0 auto;
}
ul#nav li:hover {
	color:#C71A1D;
}
ul#nav  li ul li.submenu {
	display:none;
	border-top-color:#d6d2c9;
	border-top-style:solid;
	text-align:center;
	border-top-width:2px;
	line-height:60px;
}
ul#nav  li ul li.submenu a:hover {
	color:#da8a8e;
}
ul#nav  li ul li.last_submenu {
	display:none;
	border-top-color:#d6d2c9;
	border-top-style:solid;
	text-align:center;
	border-bottom-color:#d6d2c9;
	border-bottom-style:solid;
	border-bottom-width:2px;
}
ul#nav li ul {
	padding-left:0px;
}
ul#nav li {
    width:130px;
	letter-spacing:5px;
	line-height:72px;
	font-size:18px;
	font-weight:bold; 	
	text-align:center;
}
   