html, body{
	margin:0; 
	height:100%; }

#blank {
	height:25px;
	margin-bottom:25px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#f0ece2;
	}
p#title {
			line-height:30px;
			}
		p#title span#title1{
			font-size:24px;
			letter-spacing:9px;
		}
		p#title span#title2{
			font-size:20px;
			letter-spacing:8px;
			color:#bd2943;
		}
	
}
p#title span#title2{
	font-size:25px;
	color:#bd2943;
}
#teacher-intro{
	width:22%;
	height:100%;
	float:left;
	}
#teacher-intro-font{
	padding:0 20px;}
	
#teacher-ach{
	width:70%;
	float:left;
	height:100%;}
	
#pageMain h3{
	font-size:14px;
	font-weight:bold;
	margin:0;
	}
#pageMain h2{
	font-size:24px;
	margin:10px 0 10px 0;
	letter-spacing:5px;}
#pageMain p{
	font-size:14px;
	margin:0;
	line-height:24px;}
#teacher-ach h4{
	background:url(../images/achHead.png) no-repeat;
	padding-left:15px;
	margin:15px 0 15px 0;
}
#pageMain{
	min-height:760px;}